.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  margin-left: 600px;
  width: 900px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  .form-login {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-container {
      .input {
        width: 400px;
        height: 70px;
        font-size: 45px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .button-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin-bottom: 10px;

      .button-text {
        display: flex;
        justify-content: center;
        font-size: 25px;
      }
    }

    .input-container {
      display: flex;
      user-select: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 800px;
      height: 70px;
      margin-top: 50px;

      .label-login {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        font-size: 30px;
        line-height: 24px;
        font-weight: 400;

        .text-login {
          margin-bottom: 20px;
        }

        .input-login {
          width: 600px;
          height: 40px;
          font-size: 45px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }

    .link-signup {
      margin-top: 10px;
      .text-signup {
        font-size: 25px;
        font-weight: 400;
        color: #80ff72;
      }
      .text-signup:hover {
        color: #00b712;
        cursor: pointer;
      }
    }
  }
}

