#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  user-select: none;
  white-space: nowrap;
}

h2 {
  user-select: none;
}

.modal {
  position: absolute;
  background-color: #4a1d4e;
  width: 50%;
  height: 70%;
  margin-top: 100px;
  margin-left: 460px;
  border-radius: 10px;
  border: 1px solid #646cff;
  box-shadow: 0 0 10px #646cff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  margin-left: 600px;
  width: 900px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  
  .form-activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-container {
      .input {
        width: 800px;
        height: 70px;
        font-size: 45px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .list-activities-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 75px;

      .list-activities {
        display: flex;
        flex-direction: column;
        width: 800px;
        height: 50px;
        font-size: 25px;
        line-height: 64px;
        font-weight: 400;
        margin-top: 20px;

        .activity {
          user-select: none;
          cursor: pointer;
        }

        .activity:hover {
          color: #646cff;
        }
      }
    }

    .button-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;

      .search-text {
        display: flex;
        justify-content: center;
        font-size: 25px;
      }
    }

    .input {
      width: 800px;
      height: 70px;
      font-size: 45px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.emoji-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: poiner;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  .section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

    .emoji {
      display: flex;
      justify-content: center;
      cursor: poiner;
      user-select: none;
      width: 400px;
      height: 200px;

      &.active {
        background-color: #646cff;
        box-shadow: 0 0 10px #646cff;
      }

      .emoji-image {
        width: 180px;
        height: 180px;
        object-fit: contain;
        pointer-events: none;
      }
    }
  }
}

.text-send {
  font-size: 1.8em;
  line-height: 1.1;
}

.emoji-container:hover {
  border-color: #646cff;
}

.emoji-container:focus,
.emoji-container:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.feedback-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .tick-mark {
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
    }
    .checkmark__circle {
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: #7ac142;
      fill: none;
      animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }
    .checkmark {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: #fff;
      stroke-miterlimit: 10;
      margin: 10% auto;
      box-shadow: inset 0px 0px 0px #7ac142;
      animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
    }
    .checkmark__check {
      transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
    @keyframes stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes scale {
      0%,
      100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes fill {
      100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
      }
    }
  }
}

.button-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.text-return-to-activities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;

  .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.terms-of-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;

  .section-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.popper-container {
  display: flex;
  justify-content: center;
  margin-top: -490px;

  .popper-text-student {
    margin-right: 540px;
  }

  .popper-text-professor {
    margin-left: 540px;
  }
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  .light {
    position: absolute;
    width: 333.7px;
    height: 633.7px;
    background: #1eeda2;
    mix-blend-mode: screen;
    filter: blur(308.518px);
  }

  .circle-one {
    position: absolute;
    margin-left: -450px;
    margin-top: -150px;
    width: 295px;
    height: 295px;
    border-radius: 50%;
    background: #1eeda2;
  }

  .circle-two {
    position: absolute;
    margin-left: 550px;
    margin-top: 400px;
    width: 159px;
    height: 159px;
    border-radius: 50%;
    background: #1eeda2;
  }

  .circle-three {
    position: absolute;
    margin-left: -850px;
    margin-top: 550px;
    width: 307px;
    height: 307px;
    border-radius: 50%;
    background: #1eeda2;
  }

  .circle-four {
    position: absolute;
    margin-left: 950px;
    margin-top: -150px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: #1eeda2;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .emoji-container {
    .section {
      .emoji {
        width: 300px;
        height: 150px;

        .emoji-image {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
  .modal {
    margin-left: 350px;
    margin-top: 160px;
    width: 800px;
  }

  .modal-title {
    margin-top: 30px;
  }

  .modal-footer {
    margin-top: 30px;
  }

  .text-return-to-activities {
    margin-top: 20px;
  }

  .feedback-success {
    margin-top: 10px;
  }

  .background {
    width: 100%;
    height: 100%;
    z-index: -1;
    .light {
      position: absolute;
      width: 333.7px;
      height: 633.7px;
      background: #1eeda2;
      mix-blend-mode: screen;
      filter: blur(308.518px);
    }

    .circle-one {
      position: absolute;
      margin-left: -450px;
      margin-top: -150px;
      width: 295px;
      height: 295px;
      border-radius: 50%;
      background: #1eeda2;
    }

    .circle-two {
      position: absolute;
      margin-left: 550px;
      margin-top: 400px;
      width: 159px;
      height: 159px;
      border-radius: 50%;
      background: #1eeda2;
    }

    .circle-three {
      position: absolute;
      margin-left: -850px;
      margin-top: 550px;
      width: 307px;
      height: 307px;
      border-radius: 50%;
      background: #1eeda2;
    }

    .circle-four {
      position: absolute;
      margin-left: 950px;
      margin-top: -150px;
      width: 115px;
      height: 115px;
      border-radius: 50%;
      background: #1eeda2;
    }
  }
}
